body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Roboto, Cantarell, Arial, sans-serif;
  overflow: hidden;
  font-size: 81.25%;
}
div#toolbar {
  height: 56px;
  position: relative;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  background-color: #3367d6;
  box-shadow: 0px 1px 8px 0px black;
}
div#left-content {
  position: absolute;
  margin-left: 12px;
  color: #fff;
}
div#left-content h1 {
  font-size: 123%;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  line-height: 56px;
  margin-left: 12px;
  margin-top: 0px;
}
div#center-content {
  position: absolute;
  line-height: 56px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
}
div#search-background {
  position: relative;
  top: 8px;
  cursor: text;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.22);
  width: 640px;
  height: 40px;
  color: white;
}
div#search-icon {
  float: left;
  position: relative;
  margin: 12px;
  height: 20px;
  width: 20px;
  color: white;
}
div#cancel-icon {
  float: right;
  cursor: pointer;
  position: relative;
  margin: 12px;
  height: 20px;
  width: 20px;
  color: white;
}
div#search-form {
  position: relative;
  float: left;
  top: 10px;
  float: left;
  height: 24px;
  width: 500px;
  text-align: left;
}
div#search-form label {
  cursor: text;
  position: absolute;
  opacity:0.7;
  top: -16px;
  bottom: 0;
  left: 0;
  right: 0;
}
div#search-form input {
  position: absolute;
  color: white;
  top: -16px;
  opacity: 1.8;
  background: transparent;
  border: 0;
  outline: none;
  font: inherit;
  width: inherit;
}
div#download-list {
  position: absolute;
  top: 56px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
}
.download-item {
  width: 640px;
  margin: 0 auto;
  position: relative;
}
.download-item h3 {
  display: block;
  color: grey;
  font-weight: 500;
  margin: 24px auto 10px;
}
.download-item .content {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  position: relative;
  background: white;
  border-radius: 2px;
  margin: 6px auto;
  min-height: 103px;
}
.download-item .file-wrapper {
  position: relative;
  float: left;
  height: 41px;
  width: 41px;
  align-self: center;
  justify-content: center;
  margin: 31px 21px;
}
.download-item .detail {
  float: left;
  border-left: 1px #d8d8d8 solid;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-top: 16px;
  padding-right: 16px;
  min-height: 75px;
}
.download-item .detail .title-area a {
  color: rgb(51, 103, 214);
  font-weight: 700;
  font-size: 13px;
  word-break: break-all;
  text-decoration: none;
}
.download-item .detail .title-area a:hover {
  text-decoration: underline;
}
.download-item .detail .targeturl {
  margin-top: 6px;
}
.download-item .detail .targeturl a {
  color: rgb(117, 117, 117);
  text-decoration: none;
}
.download-item .detail .control {
  margin-top: 16px;
}
.download-item .detail .control a {
  font-weight: 500;
  color: rgb(51, 103, 214);
  text-decoration: none;
}
.download-item .detail .control a:hover {
  text-decoration: underline;
}
#no-downloads {
  color: #6e6e6e;
  font-size: 123.1%;
  font-weight: 500;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  line-height: 100%;
}
#addbutton {
  z-index: 2;
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: #d23f31;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  border-radius: 28px;
  height: 56px;
  width: 56px;
}
#addbutton .add {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: none;
  border-radius: 28px;
  height: 56px;
  width: 56px;
  transition: all 0.5s ease-in-out;
}
#addbutton .add:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#addbutton .form {
  cursor: auto;
  background: #fff;
  border-radius: 7.5px;
  position: fixed;
  bottom: 16px;
  right: 128px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.45);
  width: 480px;
  height: 327px;
  opacity: 0.75;
}
#addbutton .form .title {
  cursor: move;
  position: relative;
  background: #424242;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  height: 18px;
  outline: 1px solid transparent;
  padding: 11px 20px;
  font-size: 16px;
}
#addbutton .form .title .close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: right;
  opacity: 0.7;
}
#addbutton .form .title .close:hover {
  opacity: 1;
}
#addbutton .form .content {
  color: red;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  line-height: 100%;
}
